<!DOCTYPE html>
<html>
	<head>
		<title>Strona główna</title>
		<link rel="Stylesheet" type="text/css" href="static/style.css" />
		<link rel="Bootstrap" type="text/css" href="static/bootstrap.css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<button type="button" class="btn btn-primary">Primary</button>
		<h1>Wybierz akcję</h1>
		<ul>
			<li><a href="login">Zaloguj się</a></li>
			<li><a href="logout">Wyloguj się</a></li>
			<li><a href="download">Pobierz plik</a></li>
			<li><a href="upload">Wyślij plik</a></li>
		</ul>
	</body>
</html>

