<!DOCTYPE html>
<html>
	<head>
		<title>Strona uzytkownika</title>
		<link rel="Stylesheet" type="text/css" href="static/style.css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>Pliki Użytkownika:</h1>
		<ul>
			<li><a href="{{path0}}" download>{{file0}}</a></li>
			<li><a href="{{path1}}" download>{{file1}}</a></li>
			<li><a href="{{file2}}" download>{{file2}}</a></li>
			<li><a href="{{file3}}" download>{{file3}}</a></li>
			<li><a href="{{file4}}" download>{{file4}}</a></li>
		</ul>
		<br>
                <nav>
                        <li><a href="index.html">Strona główna</a></li>
                </nav>

	</body>
</html>
