<!DOCTYPE html>
<html> 
	<head>
		<meta charset="utf-8" />
		<link rel="Stylesheet" type="text/css" href="static/style.css" />
	</head>
	<body>
		<h1>Zarejestruj</h1>
		<form method="POST" action="http://pi.iem.pw.edu.pl/pogodzip/login/checkRegister">
			<ul>
				<li>Login: <input name="login" type="text" /></li>
				<li>Hasło: <input name="pass" type="password"/></li>
			</ul>
			<input type="submit"/>
		</form>
		<br>
                <nav>
                        <li><a href="index.html">Strona główna</a></li>
                </nav>
	</body>
</html>
