<!DOCTYPE html>
<html>
	<head>
		<title>Strona uzytkownika</title>
		<link rel="Stylesheet" type="text/css" href="static/style.css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>Dodawanie plików</h1>
		Wskaż plik do wysłania:
		<form id="uploadFile" method="POST" action="/pogodzip/transfer/uploading" enctype="multipart/form-data">
      			<input type="file" id="browsing" name="file" value="Przeglądaj">
			<input type="hidden" id="token" value="{{token}}">
			<input type="submit" id="submitButton" value="Wyślij">
		</form>
		<br>
                <nav>
                        <li><a href="index.html">Strona główna</a></li>
                </nav>

	</body>
</html>
