<!DOCTYPE html>
<html>
	<head>
		<title>Strona uzytkownika</title>
		<link rel="Stylesheet" type="text/css" href="static/style.css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>Pliki Użytkownika:</h1>
			<table>
			<tr>
			<td>
			<form method="POST" action="{{path0}}" enctype="multipart/form-data">
				<input type="submit" value="{{file0}}">
				<input type="hidden" name="token" value="{{token}}">
			</form>
			</td>
			<td>
			<form method="POST" action="share/{{path0}}" enctype="multipart/form-data">
                                <input type="submit" value="Udostępnij">
				<input type="hidden" name="token" value="{{token}}">
                        </form>
			</td>
			</tr>

			<tr>
                        <td>
			<form method="POST" action="{{path1}}" enctype="multipart/form-data">
				<input type="submit" value="{{file1}}">
				<input type="hidden" name="token" value="{{token}}">
			</form>
			</td>
                        </tr>

			<tr>
                        <td>
			<form method="POST" action="{{path2}}" enctype="multipart/form-data">
				<input type="submit" value="{{file2}}">
				<input type="hidden" name="token" value="{{token}}">
			</form>
			</td>
                        </tr>

			<tr>
                        <td>
			<form method="POST" action="{{path3}}" enctype="multipart/form-data">
				<input type="submit" value="{{file3}}">
				<input type="hidden" name="token" value="{{token}}">
			</form>
			</td>
                        </tr>

			<tr>
                        <td>
			<form method="POST" action="{{path4}}" enctype="multipart/form-data">
				<input type="submit" value="{{file4}}">
				<input type="hidden" name="token" value="{{token}}">
			</form>
			</td>
                        </tr>
			</table>
		<br>

		{% for path in paths %}
			<form method="POST" action="{{path}}" enctype="multipart/form-data">
                                <input type="submit" value="{{file2}}">
                                <input type="hidden" name="token" value="{{token}}">
                        </form>
		{% endfor %}

		{% for path in paths %}
		{% endfor %}

                <nav>
                        <li><a href="index.html">Strona główna</a></li>
                </nav>

	</body>
</html>
